{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf%}

{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block styles %}
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" >
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" >
    <link href="{{url_for('static', filename='css/sweetalert.css')}}" rel="stylesheet" >
    <link href="{{url_for('static', filename='images/favicon.ico')}}" rel="icon" >
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">千丁Ops</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="nav_string">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('user_control.change_password') }}">{{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <!--<script src="{{url_for('static', filename='js/tooltip.js')}}"></script>-->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/sweetalert.min.js')}}"></script>
    <script type="text/javascript">
        // 生成导航栏内容
        var sidebar = {{ current_user.generate_menu()|safe }};
        var nav_string = "";
        for(var i in sidebar){
            if (typeof(sidebar[i]) == "string") {
                nav_string += '<li><a href="' + sidebar[i] + '">' + i + '</a></li>';
            }
            else {
                nav_string += '<li class="dropdown">' +
                        '<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">' +
                        i + '</a>' +
                        '<ul class="dropdown-menu">';
                for (var j in sidebar[i]){
                    nav_string += '<li>' +
                            '<a href="' + sidebar[i][j] + '">' + j + '</a>' +
                            '</li>';
                }
                nav_string += '</ul>';
            }
        }
        $("#nav_string").html(nav_string);

        // 为当前页面导航添加active
        var uri = window.location.pathname;
        $("li [href='" + uri + "']").parent().addClass("active");
        $(".active").parent().parent("li").addClass("active");
    </script>
{% endblock %}