{% extends "base.html" %}

{% block title %}更改密码{% endblock %}

{% block styles %}
    {{super()}}
    <style>
        div > .container {
            width: 400px;
        }
        div > .alert {
            margin-left: auto;
            margin-right: auto;
            width: 400px;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="container">
        <h2>修改密码</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            {%- for field in form %}
                {% if not bootstrap_is_hidden_field(field) %}
                    {% if field.name == "submit" %}
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    {% else %}
                        {{ wtf.form_field(field, form_type=field.type)}}
                    {% endif %}
                {% endif %}
            {%- endfor %}
        </form>
    </div>
{% endblock%}