{% extends "base.html" %}

{% block title %} 角色管理 {% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        h2 {
            display: inline;
            padding-right: 10px;
        }
        table {
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div>
        <h2>角色列表</h2><label><a href="{{ url_for('user_control.role_create') }}">添加</a></label>
        <table class="table table-hover">
            <tr>
                <th>角色</th>
                <th>显示名称</th>
                <th>是否启用</th>
                <th>权限</th>
                <th>操作</th>
            </tr>
            {% for role in roles %}
                <tr>
                    <td>{{ role.name }}</td>
                    <td>{{ role.display_name }}</td>
                    <td>{{ role.status }}</td>
                    <td>{{ role.permissions|join(", ", attribute="name") }}</td>
                    <td>
                        <div class="btn-group">
                            <a type="button" class="btn btn-primary btn-xs"
                               href="{{ url_for('user_control.role_update', id=role.id) }}">修改</a>
                            <button id="delete" role_id="{{ role.id }}" class="btn btn-danger btn-xs">删除</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).on("click","#delete",function() {
            var role_id = this.getAttribute("role_id");
            swal({
                    title: "是否删除?",
                    text: "删除用户",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    cancelButtonText: "取消",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url: "{{ url_for('user_control.role_delete') }}",
                        type: "post",
                        data: role_id,
                        success: function() {
                            location.reload()
                        },
                        error: function(res) {
                            if (res.status == 403) {
                                swal("权限不足", "没有操作权限", "error")
                            } else {
                                swal("Error", "Something Error, Please contact Admin.", "error")
                            }
                        }
                    });
                }
            );
        });
    </script>
{% endblock %}